# IMPORTANT:
# BASE_URL must include a trailing slash at the end.
# Example: .../Prod/
BASE_URL=https://wmxrwq14uc.execute-api.us-east-1.amazonaws.com/Prod/

# Demo credentials (replace if needed)
UI_USERNAME=TestUser891
UI_PASSWORD=/@jxN]oN9._k